@inject GameState State



<div style="--board-bg:@boardHex; --player1:@p1Hex; --player2:@p2Hex;">
    <section style="margin-bottom: .75rem;">
        <label style="margin-right: 1rem;">
            Board:
            <input type="color" @bind="boardHex" @bind:event="oninput" />
        </label>

        <label style="margin-right: 1rem;">
            Player 1:
            <input type="color" @bind="p1Hex" @bind:event="oninput" />
        </label>

        <label style="margin-right: 1rem;">
            Player 2:
            <input type="color" @bind="p2Hex" @bind:event="oninput" />
        </label>

    </section>

    <nav>
        @for (byte i = 0; i < 7; i++)
        {
            var col = i;
            <span title="Click to play a piece" @onclick="() => PlayPiece(col)">🔽</span>
        }
    </nav>

    <article>
        @winnerMessage  <button style="@ResetStyle" @onclick="ResetGame">Reset the game</button>
        <br />
        <span class="alert-danger">@errorMessage</span>
        <span class="alert-info">@CurrentTurn</span>
    </article>

    <div>
        <div class="board">
        @for (var i = 0; i < 42; i++)
        {
            <span class="container">
                <span></span>
            </span>
        }
        </div>
        @for (var i = 0; i < 42; i++)
        {
        <span class="@pieces[i]"></span>
        }
    </div>
</div>
@code {
    private string[] pieces = new string[42];
    private string winnerMessage = string.Empty;
    private string errorMessage = string.Empty;

    private string CurrentTurn => (winnerMessage == string.Empty) ? $"Player {State.PlayerTurn}'s Turn" : "";
    private string ResetStyle => (winnerMessage == string.Empty) ? "display: none;" : "";
    private string boardHex = "#ffff00";   // yellow
    private string p1Hex = "#ff0000";      // red
    private string p2Hex = "#0000ff";      // blue

    private void PlayPiece(byte col)
    {
        errorMessage = string.Empty;

        try
        {
            var player = State.PlayerTurn;
            var turn = State.CurrentTurn;
            var landingRow = State.PlayPiece(col);

            pieces[turn] = $"player{player} col{col} drop{landingRow}";
        }
        catch (ArgumentException ex)
        {
            errorMessage = ex.Message;
        }

        winnerMessage = State.CheckForWin() switch
        {
            GameState.WinState.Player1_Wins => "Player 1 Wins!",
            GameState.WinState.Player2_Wins => "Player 2 Wins!",
            GameState.WinState.Tie => "It's a tie!",
            _ => ""
        };
    }

    void ResetGame()
    {
        State.ResetBoard();
        winnerMessage = string.Empty;
        errorMessage = string.Empty;
        pieces = new string[42];
    }

    protected override void OnInitialized()
    {
        State.ResetBoard();
    }

}